.wrapper {
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  margin-bottom: var(--mantine-spacing-md);
  text-align: center;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 28px;
    text-align: left;
  }
}

.supTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-blue-light-color);
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.description {
  text-align: center;

  @media (max-width: $mantine-breakpoint-sm) {
    text-align: left;
  }
}
